body{
    font-family: 'Poppins', sans-serif;
}
.nav{
  display: flex;
  justify-content: space-between;
}

.kidz{
    position: relative;
    margin-left: 30px;
}
   
.nav2{
    align-items: center;
    display: flex;
    position: relative;
    /* margin-right: 150px */
}

.New{
    justify-content: space-between;
    margin-left: 50px;
}

.new1{
position: relative;
margin-left: 90px;;
}

.books{
    display: flex;
    justify-content: space-around;
}

.name{
   font-family: 'Poppins', sans-serif;
   font-weight:bolder;
}

.author{
     color: grey;
     font-weight: lighter;
     
}

.price{
    display: flex;
    justify-content: space-between;
}

.add{
    display: flex;
    
    background-color: rgb(90, 186, 219);
    border-radius: 15%;
    
}

.game{
    display: flex;
    justify-content: space-around;
}

.new{
    position: relative;
    margin-left: 90px;
}

.handmade{
    display: flex;
    justify-content: space-around;
}

.word{
    color: white;
}

.footer{
    background-color: black;
    display: flex;
    justify-content: space-between;
}

.image{
    border-radius: 50%;
}

.footer1{
    position: relative;
    margin-left: 50px;
}

#kris{
    position: relative;
    margin-left:155px;
}

.made{
    color: white;
    position: relative;
    margin-right: 100px;
}

.to{
    color: white;
}

.back{
    position: relative;
    height: 300px;
    width: 1510px;
}

@media (max-width:500px){
  .head{
    justify-content: center;
  }


  body,
  .head1{
    text-align: center;
    justify-content: center;
  }

  .footer{
    flex-direction: row;
    align-items: center;
  }

  .nav{
    display: flex;
    justify-content: space-around;
  }
}

@media (max-width: 700px) {
    .head1{
        flex-direction: column;
        text-align: center;
        font-size:40px;
    }

    .books,
    .game,
    .handmade{
        flex-direction: column;
        align-items: center;
    }

    .price,
    .add,
    .price  img{
        width: auto;
        box-sizing: border-box;
        text-align: center;
        margin: 10px 0;
    }

    .price{
        display: flex;
    }

    .add img{
        width: 20px;
    }
    .add{
        margin-top: -10px;
        font-size: 15px;
    }

    .price,
    .author,
    .name{
        font-size: 20px;
    }

    .hello{
        text-align: center;
        font-size:xx-large;
    }
    
    .back{
        width: 500px;
    }

    .new{
        margin-right: 50px;
    }
    
    .footer{
        width: 100%;
    }

    .nav{
        justify-content: space-between;
        align-items: center;
    }

    .nav2{
        display: flex;
        align-items: center;
    }
}